/* General */
body {
  font-family: Prompt, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Para no centrar verticalmente toda la página */
  height: auto; /* Cambié a auto para que no ocupe toda la altura de la ventana */
}

/* Contenedor con un ancho máximo */
.container {
  max-width: 800px; /* Ancho máximo */
  width: 100%; /* Para asegurar que ocupe el 100% en pantallas pequeñas */
  margin: 20px; /* Márgenes internos */
  padding: 20px; /* Espacio interno */
}

/* Contenedor con un ancho máximo */
.container2 {
  max-width: 400px; /* Ancho máximo */
  width: 100%; /* Para asegurar que ocupe el 100% en pantallas pequeñas */
  margin: 20px; /* Márgenes internos */
  padding: 10px; /* Espacio interno ajustado */
}

/* Header */
h1 {
  color: #333; /* Color de texto */
  font-size: 36px;
  text-align: center;
  margin-bottom: 10px; /* Reducido el espacio abajo del encabezado */
}

/* Párrafos */
p {
  margin: 0; /* Eliminar márgenes innecesarios */
  padding: 0; /* Eliminar padding */
  line-height: 1.5; /* Aumentar el interlineado para mejorar la legibilidad */
  text-align: justify; /* Justificar texto */
}

/* Matriz LaTeX en contenedor */
.container2 p {
  margin-top: 20px; /* Reducir espacio arriba de la matriz */
}

/* Bloque de diseño responsive */
@media screen and (max-width: 768px) {
  /* Ajustes para pantallas de dispositivos móviles y tabletas */
  .container, .container2 {
    padding: 15px;
  }

  h1 {
    font-size: 24px; /* Ajustar tamaño de título */
  }

  h2 {
    font-size: 20px; /* Ajustar tamaño de subtítulos */
  }

  .container2 p {
    font-size: 16px; /* Ajustar tamaño de los textos */
  }

  /* Hacer las fórmulas más pequeñas en pantallas pequeñas */
  .container2 div {
    margin: 15px 0;
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  /* Ajustes para pantallas de móviles muy pequeños */
  h1 {
    font-size: 20px; /* Más pequeño */
  }

  h2 {
    font-size: 18px;
  }

  .container2 p {
    font-size: 14px;
  }

  .container2 div {
    font-size: 14px;
    margin: 10px 0;
  }
}
